:root {
  --text-color: #757575;
  --main-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--white-color);
  color: var(--title-text-color);
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
.section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  align-items: center;
}
.header-content {
  display: flex;
  align-items: center;
}
.nav-logo,
.nav-sections,
.nav-sections-contacts {
  display: flex;
  align-items: center;
}
.nav-logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 85px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--main-text-color);
}
.nav-sections:not(:last-child) {
  margin-right: 305px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-sections-contacts {
  margin-top: 32px;
  margin-bottom: 32px;
}
.nav-contacts:not(:last-child) {
  margin-right: 30px;
}
.list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.list-item:hover,
.list-item:focus {
  color: var(--accent-color);
}
.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
/* Эффективные решения для вашего бизнеса */
.main-section {
  background-color: #2f303a;
  opacity: 80%;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-left: 452px;
  margin-right: 452px;
  color: var(--white-color);
  margin-bottom: 30px;
}
.main-button-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.main-button-link:hover,
.main-button-link:focus {
  background-color: var(--accent-color);
}
/*advantages*/
.advantages-section {
  width: 1170px;
  height: 251px;
  margin-top: 94px;
  padding: 0;
  display: flex;
}
.advantages-section-item:not(:last-child) {
  padding-right: 30px;
}
.advantages-section-img {
  padding: 25px 100px 25px 100px;
  background-color: #f5f4fa;
}
.advantages-section-title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-section-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/*directions*/
.directions {
  margin-top: 94px;
}
.directions-section {
  padding: 0;
  margin-top: 50px;
  display: flex;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 94px;
  margin-top: 0;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.directions-section-item:not(:last-child) {
  margin-right: 30px;
}
.directions-section-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 21px;
  color: var(--white-color);
  background-color: #2f303a;
  opacity: 80%;
  margin-top: -60px;
}
/*team*/
.team {
  margin-top: 94px;
  background: #f5f4fa;
  width: 1600px;
  height: 702px;
}
.team-section {
  width: 1170px;
  height: 422px;
  margin: 186px 215px 94px 215px;
  display: flex;
}
.team-section-item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.team-section-item:not(:last-child) {
  margin-right: 30px;
}
.team-section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 30px;
  color: var(--main-text-color);
}
.team-section-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 10px;
  color: var(--text-color);
}
.networks-section {
  margin-top: 16px;
  padding: 0;
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
}
.networks-section-item:not(:last-child) {
  margin-right: 10px;
}
/*clients*/
.clients {
  margin-top: 94px;
}
.clients-section {
  padding: 0;
  margin-top: 50px;
  display: flex;
}
.clients-section-item:not(:last-child) {
  margin-right: 30px;
}
.clients-section-item {
  height: 90px;
  width: 170px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 35px 5px 35px;
}

/*Footer*/
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo-studio-footer {
  color: var(--white-color);
}
footer {
  background-color: #2f303a;
}
.footer-list {
  list-style: none;
}
.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #ffffff;
}
.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
}

.adress-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*Портфолио*/

/*Продукты и услуги студии*/
.case-name {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}

.case-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.case-item {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}

.case-description {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
}
