html {
  box-sizing: border-box;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*color: #212121 цвет главного текста
color: #757575 цвет вторичного текста
#ffffff белый
#2196F3 акцент*/

body {
  --main-text-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--white-color);
}
.section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-right: 85px;
  align-items: center;
  display: flex;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--main-text-color);
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo-studio-footer {
  color: var(--white-color);
}
.header-content {
  align-items: center;
}
.header-content,
.nav-sections,
.nav-contacts {
  display: flex;
}
.nav-sections {
  margin-right: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-contacts:not(:last-child) {
  margin-right: 30px;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0px;
}
.list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.list-item:hover,
.list-item:focus {
  color: var(--accent-color);
}
.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Эффективные решения для вашего бизнеса */
.main-section {
  background-color: #2f303a;
  opacity: 80%;
  text-align: center;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  margin: 0;

  color: var(--white-color);
}
.primary-button {
  padding-top: 30px;
  padding-bottom: 200px;
  margin: 0;
}
.main-button-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  box-shadow: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.main-button-link:hover,
.main-button-link:focus {
  background-color: var(--accent-color);
}
/*advantages*/
.advantages-section {
  width: 1170px;
  height: 251px;
  margin-top: 94px;
  padding: 0;
  display: flex;
}
.advantages-section-item:not(:last-child) {
  padding-right: 30px;
}
.advantages-section-img {
  padding: 25px 100px 25px 100px;
  background-color: #f5f4fa;
}
.advantages-section-title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-section-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/*Feature чем занимаемся*/
.directions .directions-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.directions .directions-item {
  background: var(--title-text-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.directions-item:hover,
.directions-item:focus {
  color: var(--accent-color);
}

/*Команда*/
.team .team-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-list {
  list-style: none;
}
.team .team-item {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.team-features .position {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

/*Постоянные клиенты*/
.clients .clients-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Footer*/
footer {
  background-color: #2f303a;
}
.footer-list {
  list-style: none;
}
.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #ffffff;
}
.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
}

.adress-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*Портфолио*/

/*Продукты и услуги студии*/
.case-name {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}

.case-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.case-item {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}

.case-description {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
}
